// @import "libs";
// @import "base/fonts";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
html{
  font-size: 125%;
}
body{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  overflow-x: hidden;
}
.logo{
  display: flex;
  flex-direction: column;
}
.header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
}
.header .wrap{
  display: flex;
  justify-content: space-between;
}
.logo__text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 300;
}
.wrap{
    margin: 0 auto;
    width: 92.5%;
    max-width: 1233px;
}
.main{
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 800px;
    padding-top: 10em;
    text-align: center;
    background-color: #005EB8;
}
.nav ul{
  display: flex;
}
.nav {
  display: flex;
  align-items: flex-end;
}
.nav ul li{
  list-style: none;
  margin-left: 25px;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
}
.nav ul li a{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  display: block;
  letter-spacing: 1px;
}
.nav ul li.active a{
  border-bottom: 3px solid #ffffff;
}
.nav ul li:hover a{
  border-bottom: 3px solid #ffffff;
}
.banner-img{
  width: 45%;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1500ms;
    animation-fill-mode: both;
}
@keyframes pulse{
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.main .wrap{
  display: flex;
}
.main__content{
  flex: 1;
  margin-top: 100px;
  display: flex;
  padding-left: 100px;
  justify-content: flex-end;
  text-align: left;
}
.main__content h1{
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}
.main__content a {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  transition: all .15s ease-out;
  margin-top: 20px;
  font-size: 16px;
  border-bottom: 5px solid transparent;
}
.main__content a:before{
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: -4px;
  background-color: #ffffff;
}
.main__content a:hover{
  border-bottom: 4px solid;
}

@media(max-width: 1200px){
  .nav ul li a{
    font-size: 16px;
  }
  .logo__text{
    font-size: 18px;
  }
  .main__content h1 {
    font-size: 25px;
  }
}
@media(max-width: 1024px){
  .header .wrap{
    flex-direction: column;
    align-items: center;
  }
  .logo{
    align-items: center;
  }
  .logo__text {
    font-size: 16px;
  }
  .header {
    padding-top: 50px;
  }
  .nav{
    margin-top: 25px;
  }
  .main .wrap{
    flex-direction: column;
    align-items: center;
  }
  .main{
    height: auto;
    padding-top: 230px;
    min-height: 100vh;
    padding-bottom: 100px;
  }
  .banner-img{
    width: 300px;
  }
  .main__content{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
  .banner__text{
    font-size: 16px;
    max-width: 400px;
  }
}
@media(max-width: 700px){
  .nav ul li a {
    font-size: 14px;
  }
  .nav ul li{
    margin-left: 22px;
  }
}
@media(max-width: 600px){
  .nav ul{
    flex-wrap: wrap;
  }
  .nav ul li a{
    width: max-content;
  }
  .nav ul li{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0;
    width: calc(100% / 3);
  }
  .banner-img{
    width: 70%;
  }
  .main{
    padding-top: 230px;
  }
  .main__content{
    padding: 0;
  }
  .main__content{
    margin-top: 50px;
  }
  .header{
    padding-top: 20px;
  }
}
@media(max-width: 425px){
  .main__content h1{
    font-size: 20px;
  }
  .banner__text{
    font-size: 14px;
  }
  .main__content a{
    font-size: 14px;
    letter-spacing: 2px;
  }
  
}